---
layout: default
---
{% assign text = site.t[page.lang] %}

<div>
    <h1>{{ page.title }}</h1>
    <h3>{{ site.t[page.lang].video }}</h3>
    <p><a href="tools/video/analysis">{{ site.t[page.lang].tools-analysis }}</a></p>
    <p><a href="tools/video/keyframes">{{ site.t[page.lang].tools-keyframes }}</a></p>
    <p><a href="tools/video/thumbnails">{{ site.t[page.lang].tools-thumbnails }}</a></p>
    <p><a href="tools/video/videorights">{{ site.t[page.lang].tools-videorights }}</a></p>

    <h3>{{ site.t[page.lang].image }}</h3>
    <p><a href="tools/image/metadata">{{ site.t[page.lang].tools-metadata }}</a></p>
    <p><a href="tools/image/forensic">{{ site.t[page.lang].tools-forensic }}</a></p>
    <p><a href="tools/image/magnifier">{{ site.t[page.lang].tools-magnifier }}</a></p>
    <p><a href="tools/image/ocr">{{ site.t[page.lang].tools-ocr }}</a></p>
    <p><a href="tools/image/checkgif">{{ site.t[page.lang].tools-checkgif }}</a></p>

    <h3>{{ site.t[page.lang].search }}</h3>
    <p><a href="tools/search/twittersearch">{{ site.t[page.lang].tools-twittersearch }}</a></p>
    <p><a href="tools/search/covid">{{ site.t[page.lang].tools-covid }}</a></p>
    <p><a href="tools/search/xnetwork">{{ site.t[page.lang].tools-xnetwork }}</a></p>

    <h3>{{ site.t[page.lang].data }}</h3>
    <p><a href="tools/data/twittersna">{{ site.t[page.lang].tools-twitterSNA }}</a></p>





</div>
