---
layout: default
---
{% assign text = site.t[page.lang] %}
{% assign base = page.lang | append: site.baseurlguide %}

<div>
    <h1>{{ page.title }}</h1>
    <h3>{{ site.t[page.lang].video }}</h3>
    <p><a href="{{ base }}/tools/video/analysis">{{ site.t[page.lang].tools-analysis }}</a></p>
    <p><a href="{{ base }}/tools/video/keyframes">{{ site.t[page.lang].tools-keyframes }}</a></p>
    <p><a href="{{ base }}/tools/video/thumbnails">{{ site.t[page.lang].tools-thumbnails }}</a></p>
    <p><a href="{{ base }}/tools/video/metadata">{{ site.t[page.lang].tools-videometadata }}</a></p>
    <p><a href="{{ base }}/tools/video/deepfake">{{ site.t[page.lang].tools-deepfake }}</a></p>
    <p><a href="{{ base }}/tools/video/poiforensic">{{ site.t[page.lang].tools-poiforensics }}</a></p>

    <h3>{{ site.t[page.lang].image }}</h3>
    <p><a href="{{ base }}/tools/image/metadata">{{ site.t[page.lang].tools-metadata }}</a></p>
    <p><a href="{{ base }}/tools/image/forensic">{{ site.t[page.lang].tools-forensic }}</a></p>
    <p><a href="{{ base }}/tools/image/magnifier">{{ site.t[page.lang].tools-magnifier }}</a></p>
    <p><a href="{{ base }}/tools/image/ocr">{{ site.t[page.lang].tools-ocr }}</a></p>
    <p><a href="{{ base }}/tools/image/checkgif">{{ site.t[page.lang].tools-gif }}</a></p>
    <p><a href="{{ base }}/tools/image/syntheticimagedetection">{{ site.t[page.lang].tools-syntheticimagedetection }}</a></p>
    <p><a href="{{ base }}/tools/image/geolocation">{{ site.t[page.lang].tools-geolocation }}</a></p>
    <p><a href="{{ base }}/tools/image/c2pa">{{ site.t[page.lang].tools-c2pa }}</a></p>

    <h3>{{ site.t[page.lang].audio }}</h3>
    <p><a href="{{ base }}/tools/audio/hiya">{{ site.t[page.lang].tools-hiya }}</a></p>

    <h3>{{ site.t[page.lang].search }}</h3>
    <p><a href="{{ base }}/tools/search/twitter">{{ site.t[page.lang].tools-twitter }}</a></p>
    <p><a href="{{ base }}/tools/search/semanticsearch">{{ site.t[page.lang].tools-semanticsearch }}</a></p>
    <p><a href="{{ base }}/tools/search/factchecksearch">{{ site.t[page.lang].tools-factchecksearch }}</a></p>
    <p><a href="{{ base }}/tools/search/xnetwork">{{ site.t[page.lang].tools-xnetwork }}</a></p>
    <p><a href="{{ base }}/tools/search/mgt">{{ site.t[page.lang].tools-mgt }}</a></p>

    <h3>{{ site.t[page.lang].data }}</h3>
    <p><a href="{{ base }}/tools/data/twittersna">{{ site.t[page.lang].tools-twitterSNA }}</a></p>
    <p><a href="{{ base }}/tools/data/sna">{{ site.t[page.lang].tools-sna }}</a></p>
    <p><a href="{{ base }}/tools/data/disinfodeck">{{ site.t[page.lang].tools-disinfodeck }}</a></p>

    <h3>{{ site.t[page.lang].other }}</h3>
    <p><a href="{{ base }}/tools/other/ffmpegtoolkit">{{ site.t[page.lang].tools-ffmpegtoolkit }}</a></p>
    <p><a href="{{ base }}/tools/other/archive">{{ site.t[page.lang].tools-archive }}</a></p>
    <p><a href="{{ base }}/tools/other/chatbot">{{ site.t[page.lang].tools-chatbot }}</a></p>

</div>
